body {
    background: lightblue;
	font-family: 'Anton', sans-serif;
	color: darkorange;
	font-size: 50px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	text-align: center;
	margin: 5px;
	object-fit: contain;
}
#products img {
  box-shadow: 0 25px 8px -8px black;
  border-radius: 25%;
  background-image: cover;
  background-color: darkblue;
  padding:  10px;
  border: 5px solid darkorange;
}
#results ul{
   float: left;
   width: 300px;
   height: 700px;
   list-style: none;
   box-shadow: 0 25px 8px -8px black;
   border-radius: 15px;
   background-image: cover;
   background-color: darkblue;
   padding:  10px;
   border: 5px solid darkorange;
   margin: auto;
   margin-bottom: 125px;
}
#myChart {
   float: center;
   width: 500px;
   height: 500px;
   list-style: none;
   box-shadow: 0 25px 8px -8px black;
   border-radius: 15px;
   background-image: cover;
   background-color: oldlace;
   padding:  10px;
   border: 5px solid darkorange;
   margin: auto;
   margin-bottom: 125px;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}
  
   


