body {
    background: darkblue;
	color: white;
	text-align: center;
	margin: 5px;
	object-fit: contain;
}
#products img {
  box-shadow: 0 15px 8px -8px black;
  border-radius: 25%;
  background-image: cover;
}
   


